html {

    background: url(../images/background_3.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }

body{

    color: whitesmoke;
    margin-left: 25%;

}

@font-face{

    font-family: testFont;
    src:url(roboto/roboto-light.ttf)

}

@font-face {
    font-family: fontTwo;
    src: url(Lora/Lora-VariableFont_wght.ttf);
}

header{

    text-align: center;
    font-size: 80px;
    color: whitesmoke;
    margin-top: 3em;
    

}

header div{

    font-family: fontTwo;
}

nav{

    
    font-size: 25px;
    margin-top: 2em;
    text-decoration: none;
    font-family: testFont;
    
}

/*@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }*/

  @keyframes color{

    from {color:gold}
    to {color:whitesmoke}
  }

.homenav a{

    animation-name: color;
    animation-duration: 1.5s;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}

a{

    padding: 1.2em;
    color: whitesmoke;
    

}

a:hover{

    color:gold;

}

